/* 7.0 Button Stylings ---------------------------------------*/
.primaryLink{
  color: $secondaryColor !important;
	transition: .3s ease all;
  text-decoration-color: $secondaryColor;
    &:hover{
			color: $primaryColor !important;
			transition: .3s ease all;
		  text-decoration-color: $primaryColor;
    }
}
.faqLink{
  color: $primaryColor !important;
	transition: .3s ease all;
  text-decoration-color: $primaryColor;
    &:hover{
			color: $white !important;
			transition: .3s ease all;
		  text-decoration-color: $white;
    }
}
.primaryButton{
	position: relative;
  z-index: 1;
  text-decoration: none;
  background-color: #c8102e;
  border: 2px solid #c8102e;
  color: #FFFFFF;
  transition: .2s ease all;
  padding: 10px 30px 10px 30px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 10px;
  font-family: $CalpsSlim, "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
		&:hover{
			background-color: $white;
			color: $accentColor;
			transition: .2s ease all;
		}
}
.centerButton{
	margin: 0 auto;
	text-align: center;
}
.buttonWrap{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}
button{
	background-color: none;
	border: none;
}
.smallTextButton{
  @include breakpoint(smallScreen){
    font-size: 14px;
    padding: 10px;
  }
  @include breakpoint(largeMobileScreen){
    font-size: 24px;
    padding: 10px;
  }
  @include breakpoint(tabletScreen){
    padding: 10px 30px;
  }
}
