/* 3.0 Our page layouts -------------------------------------------*/
.col20{
	width: 20%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 20%;
    }
}
.col25{
	width: 25%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 25%;
    }
}
.col30{
	width: 30%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 30%;
    }
}
.col33{
	width: 33.3333%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 33.3333%;
    }
}
.col30SplitTablet{
	width: 33.3333%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 50%;
    }
    @include breakpoint(largeScreen){
      width: 33.3333%;
    }
}
.col40{
	width: 40%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 40%;
    }
}
.col50{
	width: 50%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 50%;
    }
}
.col60{
	width: 60%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 60%;
    }
}
.col70{
	width: 70%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 70%;
    }
}
.col80{
  width: 80%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 80%;
    }
}
.pageWidth{
		width: 70%;
		height: 100%;
		margin: 0 auto;
      @include breakpoint(smallScreen){
        width: 90%;
      }
      @include breakpoint(largeMobileScreen){
        width: 90%;
      }
      @include breakpoint(laptopScreen){
        width: 90%;
      }
			@include breakpoint(largeScreen){
        width: 70%;
      }
	}
.fullWidth{
  width: 100%;
}
.navWidth{
	height: 100%;
	margin: 0 auto;
	@include breakpoint(smallScreen){
		width: 95%;
	}
	@include breakpoint(largeMobileScreen){
		width: 95%;
	}
	@include breakpoint(largeScreen){
		width: 90%;
	}
}
.blockText{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 800px;
  margin: 0 auto;
    @include breakpoint(smallScreen){
      padding: 20px;
    }
    @include breakpoint(largeMobileScreen){
      padding: 20px;
    }
    @include breakpoint(laptopScreen){
      padding: 25px;
    }
}
.hero{
	position: relative;
	z-index: 1;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    @include breakpoint(smallScreen){
      height: 60vh;
    }
    @include breakpoint(largeMobileScreen){
      height: 60vh;
    }
		@include breakpoint(tabletScreen){
      height: 70vh;
    }
    @include breakpoint(laptopScreen){
      height: 70vh;
    }
	}
.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    @include breakpoint(smallScreen){
      flex-direction: column;
    }
    @include breakpoint(largeMobileScreen){
      flex-direction: column;
    }
    @include breakpoint(laptopScreen){
      flex-direction: row;
    }
}
.flex-container-reverse{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    @include breakpoint(smallScreen){
      flex-direction: column-reverse;
    }
    @include breakpoint(largeMobileScreen){
      flex-direction: column-reverse;
    }
    @include breakpoint(laptopScreen){
      flex-direction: row;
    }
}
.wrappedFlexContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.centerAlignedContainer{
	display: flex;
	align-items: center;
}
.centeredContainer{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	flex-direction: column;
}
.marginTop{
	margin-top: 15px;
}
.textWrap{
	padding: 20px;
}
.blockWrap{
	display: flex;
	margin-bottom: 100px;
}
.blockImage{
	display: flex;
	max-width:100%;
	max-height: 100%;
}
.image{
	width: 100%;
	height: auto;
}
.page-content{
	position: relative;
	z-index: 2;
	margin-top: 50vh;
	background: $white;
}
.paddedSection{
	padding: 50px 0 !important;
}
.limitWidth{
  max-width: 1050px;
  margin: 0 auto;
	@include breakpoint(smallScreen){
		padding: 0;
	}
	@include breakpoint(largeMobileScreen){
		padding: 0;
	}
	@include breakpoint(laptopScreen){
		padding: 20px;
	}
}
.removeBottomPadding{
	padding-bottom: 0 !important;
}
.backgroundImage{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.smallPaddedWrapper{
	padding: 20px;
}
