/* 1.0 sitewide variables -------------------------------------------*/
$primaryColor: #002F6C;
$secondaryColor: #008ea8;
$secondaryColorLight: #cbe2e6;
$accentColor: #c8102e;
$bannerTriangle: #203468;
$primaryGrey: #404041;
$secondaryGrey: #a5a7aa;
$primaryYellow: #f4a81d;
$black: #000000;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$lightGrey: #f6f6f6;
