/* 21.0 Attractions page Styles -------------------------------------------*/
.videoWrapper{
  padding: 10px;
  iframe{
    width: 100%;
    height: 300px;
    @include breakpoint(largeMobileScreen){
      width: 100%;
      height: 400px;
    }
    @include breakpoint(tabletScreen){
      width: 100%;
      height: 500px;
    }
    @include breakpoint(laptopScreen){
      width: 100%;
      height: 350px;
    }
    @include breakpoint(largeScreen){
      width: 100%;
      height: 400px;
    }
  }
}
