/* 13.0 Sitemap stylings -------------------------------------------*/
.sitemap{
  @include breakpoint(laptopScreen){
      height: 80vh;
  }
}
#sitemapEntry{
  margin-top: 150px;
}
.page_item{
  a{
    text-decoration: none;
  	transition: .2s ease all;
  	position: relative;
    color: $primaryColor;
    &:hover{
      color: $secondaryColor;
      transition: .2s ease all;
    }
  }
}
.pagenav{
  list-style-type: none;
}
